smartsheet_py313/
.env
__pycache__/
*.pyc
*.pyo
test.py
*.csv
*.xlsx
*.xls
*.json
attachments/
resource/
backup/
tempCodeRunnerFile.py
downloadingSheetAttachment.py
comment_extractor.py
getSmartsheetAsExcel.py
sheet.py
backup_ssextractor.py
test.py